[submodule "userconf/.i3/i3lock-fancy-multimonitor"]
	path = userconf/.i3/i3lock-fancy-multimonitor
	url = git@github.com:guimeira/i3lock-fancy-multimonitor.git
[submodule "3rd/matcha"]
	path = 3rd/matcha
	url = https://github.com/vinceliuice/matcha.git
