[submodule "userconf/.i3/i3lock-fancy-multimonitor"]
	path = userconf/files/.i3/i3lock-fancy-multimonitor
	url = git@github.com:guimeira/i3lock-fancy-multimonitor.git
[submodule "3rd/matcha"]
	path = 3rd/matcha
	url = https://github.com/vinceliuice/matcha.git
[submodule "3rd/libinput-gestures"]
	path = 3rd/libinput-gestures
	url = https://github.com/bulletmark/libinput-gestures/
